{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- CSS -->
<link href="{% static 'css/products.css' %}" rel="stylesheet">
<!-- JS初始設定 -->
<script>
    {% comment %} 追加項目 {% endcomment %}
    var cat_add_list = {{ addtion_categories|safe }};
</script>

<!-- 主頁 -->
<div class="">
    <!-- 最上方標題導覽列 -->
    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-light *bg-c-secondary">
            <div class="container *container-fluid">
                <span class="navbar-brand m-0" style="width: 220px" id="logo">
                    <img class="logo" src="./Img/logo.svg" style="width: 100%" alt=""/>
                </span>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="navList">
                        <!--renderNavList()-->
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- 中間主要內容 -->
    <div class="main-content">
        <!-- 品項選單(希望固定) -->
        <div class="container">
            <div class="d-flex py-2 justify-content-center">
                <!-- <div class="leftArrow"><img src="./Img/PC/Arrow circle up.png" alt="" /></div> -->
                <div class="tagArea mx-3">
                    <ul class="tagList">
                        <li>
                            <input type="radio" class="btn-check" name="cat-tags" id="cat-tag-all" value="-1" autocomplete="off" checked />
                            <label class="btn btn-cat-tag" for="cat-tag-all">全部</label>
                        </li>
                        {% for category in category_products %}
                        <li>
                            <input type="radio" class="btn-check" name="cat-tags" id="cat-tag-{{ category.id }}" value="{{ category.id }}" autocomplete="off" />
                            <label class="btn btn-cat-tag" for="cat-tag-{{ category.id }}">{{ category.name }}</label>
                        </li>
                        {% endfor %}
                        {% comment %} <li>
                            <input type="radio" class="btn-check" name="分類標籤" id="tag蛋餅" value="蛋餅" autocomplete="off" />
                            <label class="btn btn-cat-tag" for="tag蛋餅">蛋餅</label>
                        </li>
                        <li>
                            <input type="radio" class="btn-check" name="分類標籤" id="tag吐司" value="吐司" autocomplete="off" />
                            <label class="btn btn-cat-tag" for="tag吐司">吐司</label>
                        </li>
                        <li>
                            <input type="radio" class="btn-check" name="分類標籤" id="tag漢堡" value="漢堡" autocomplete="off" />
                            <label class="btn btn-cat-tag" for="tag漢堡">漢堡</label>
                        </li>
                        <li>
                            <input type="radio" class="btn-check" name="分類標籤" id="tag沙拉" value="沙拉" autocomplete="off" />
                            <label class="btn btn-cat-tag" for="tag沙拉">沙拉</label>
                        </li>
                        <li>
                            <input type="radio" class="btn-check" name="分類標籤" id="tag點心" value="點心" autocomplete="off" />
                            <label class="btn btn-cat-tag" for="tag點心">點心</label>
                        </li>
                        <li>
                            <input type="radio" class="btn-check" name="分類標籤" id="tag飲品" value="飲品" autocomplete="off" />
                            <label class="btn btn-cat-tag" for="tag飲品">飲品</label>
                        </li> {% endcomment %}
                    </ul>
                </div>
                <!-- <div class="rightArrow"><img src="./Img/PC/Arrow circle down.png" alt="" /></div> -->
            </div>
        </div>

        <!-- 廣告和菜單(可捲動區塊) -->
        <div class="">
            {% comment %} 菜單 {% endcomment %}
            <div class="menu container pb-6" id="menu">
                {% comment %} 商品種類 {% endcomment %}
                {% for category in category_products %}
                <div name="cat-area" data-cat-id="{{ category.id }}" data-cat="{{ category.name }}">
                    <div class="catTitle my-3" data-cat="{{ category.name }}">
                        <span class="h4 fw-bolder">{{ category.name }}</span>
                    </div>
                    <div class="menu-cards row g-3" data-cat="{{ category.name }}">
                    {% for product in category.products %}
                    <div class="col-12 col-md-6 col-xl-4 position-relative" >
                        {% comment %} 商品 {% endcomment %}
                        <div class="food-card menu-card {{ product.isSoldOut|yesno:"soldout," }}"
                            data-cat-id="{{ category.id }}"
                            data-product-id="{{ product.product_id }}"
                            data-addition-ids="{{ product.addition_ids|escapeseq|join:"," }}"
                        >
                            <div class="d-flex flex-column w-60">
                                <p class="h5 menu-p-name">{{ product.name }}</p>
                                <p class="h6 menu-p-content">{{ product.content }}</p>
                                <p class="h5 mt-auto">$<span class="menu-p-price">{{ product.price }}</span></p>
                            </div>
                            <div class="d-inline-block ms-auto">
                                <img class="menuCardImg menu-card-img" src="{{ product.img }}" alt="" />
                            </div>
                        </div>
                        <div class="soldoutMask {{ product.isSoldOut|yesno:",d-none" }}">已售完</div>
                    </div>
                    {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- 頁尾 -->
    <div class="footer py-2">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <div class="border-left fw-bolder">
                    <span class="ms-2">訂單小計</span>
                    <span class="text-danger" id="footerTotalPrice">$0</span>
                </div>
                <div>
                    <button class="btn show-cart-btn">查看購物車</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal擺放區塊 -->
<div>
    <!-- 品項Modal -->
    <div class="modal fade" id="productModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header d-block pb-1" style="border-width: 0;">
                    <button type="button" class="btn-close float-end float" data-bs-dismiss="modal"></button>
                        <h5 class="text-center fw-bolder product-modal-name"></h5>
                    </div>

                    <div class="modal-body pt-1">
                        <!-- 介紹 -->
                        <div>
                            <img class="modalFoodImg product-modal-img mb-3" alt="商品圖片" />
                            <p class="h6 fw-light product-modal-content"></p>
                            <p class="h6 fw-light"></p>
                            <p class="h5">$<span class="product-modal-price"></span></p>
                        </div>
                        <!-- 選項 -->
                        <div id="foodAdditionOptions">
                            {% comment %} ${addiOptHtml} {% endcomment %}
                        </div>

                        <br />
                        <!-- 備註 -->
                        <div>
                            <p class="h6">餐點備註</p>
                            <textarea class="form-control" id="tempProductComment" rows="2"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer flex-column">
                        <!-- 數量 -->

                        <div class="d-flex align-items-center">
                            <button class="btn rounded-circle btn-sm btn-minus" onclick="adjAmount('${price}','minus')"><i class="fa-solid fa-minus small"></i></button>
                            <span class="mx-4" id="tempProductAmount">1</span>
                            <button class="btn rounded-circle btn-sm btn-add" onclick="adjAmount('${price}','add')"><i class="fa-solid fa-plus small"></i></button>
                        </div>

                        <!-- 加入購物車 -->
                        <button type="button" class="btn btn-addToCart my-1 add-to-cart-btn">
                            <span class=""> 加入購物車($</span>
                            <span class="product-modal-temp-total" id="tempProductTotal" data-food-price="0" data-add-price="0" data-total-price="0"></span>
                            <span class="">)</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 購物車Modal -->
    <div class="modal fade" id="cartModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header d-block pb-1">
                    <button type="button" class="btn-close float-end float" data-bs-dismiss="modal" aria-label="Close"></button>
                    <h5 class="text-center fw-bold">購物車資訊</h5>
                </div>
                <div class="modal-body">
                    <div name="商品明細" class="mb-3">
                        <h5 class="fw-bolder">商品明細</h5>
                        <hr class="my-2"/>
                        <div id="cart-modal-product-details"></div>
                    </div>
                    <div name="取餐方式" class="mb-3" id="cartTakeWay">
                        <h5 class="fw-bolder">取餐方式</h5>
                        <hr class="my-2"/>
                        <input type="radio" class="btn-check" name="取餐方式" id="tag外帶" value="外帶" autocomplete="off" checked />
                        <label class="btn btn-cat-tag" for="tag外帶">外帶</label>

                        <input type="radio" class="btn-check" name="取餐方式" id="tag內用" value="內用" autocomplete="off" />
                        <label class="btn btn-cat-tag" for="tag內用">內用</label>
                    </div>
                    <div name="訂單備註" class="mb-3">
                        <h5 class="fw-bolder">訂單備註</h5>
                        <hr class="my-2" />
                        <textarea class="form-control" id="cartComment" rows="2"></textarea>
                    </div>
                </div>
                <div class="modal-footer flex-column">
                    <!-- 加入購物車 -->
                    <button type="button" class="btn btn-addToCart my-1" onclick="submitCart()">
                        <span class=""> 送出訂單</span>
                        <span id="tempCartTotalPrice">($275)</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- User Modal -->
    <div class="modal fade" id="user-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header border-0 pb-1">
                    <button type="button" class="btn-close float-end float" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% comment %} 登入 {% endcomment %}
                    <div class="user-modal-body-page user-login-page">
                        <div class="d-flex flex-column align-items-center gap-3">
                            <p class="h4 fw-bold">登入會員</p>
                            <input type="text" class="login-input" placeholder="請輸入帳號或Email" id="login-page-username" />
                            <input type="password" class="login-input" placeholder="請輸入密碼" id="login-page-password" />
                            <button class="btn btn-login" onclick="btnLogin()">登入</button>

                            <p>還沒成為會員? <span class="color-primary border-bottom finger switch-user-page" data-topage="register">註冊</span></p>
                            <p class="fw-light">
                                <span>Demo: </span>
                                <span class="ms-2 finger" onclick="demoInput('小明')">顧客-小明</span>
                                <span class="ms-2 finger" onclick="demoInput('阿姨')">老闆-阿姨</span>
                            </p>
                        </div>
                    </div>

                    {% comment %} 註冊 {% endcomment %}
                    <div class="user-modal-body-page user-register-page">
                        <div class="d-flex flex-column align-items-center gap-3">
                            <p class="h4 fw-bold">註冊會員</p>
                            <input type="text" class="login-input" placeholder="會員帳號" id="register-page-username" />
                            <input type="password" class="login-input" placeholder="會員密碼" id="register-page-password" />
                            <input type="text" class="login-input" placeholder="會員名稱" id="register-page-name" />
                            <input type="email" class="login-input" placeholder="Email" id="register-page-email" />
                            <input type="phone" class="login-input" placeholder="聯絡電話" id="register-page-phone" />
                            <button class="btn btn-login" onclick="btnRegister()">註冊</button>
                            <p>已經是會員? <span class="color-primary border-bottom finger switch-user-page" data-topage="login">登入</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 歷史訂單Modal -->
    <div class="modal fade" id="userOrdersModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header d-block pb-1">
                    <button type="button" class="btn-close float-end float" data-bs-dismiss="modal" aria-label="Close"></button>
                    <h5 class="text-center fw-bold">歷史訂單</h5>
                </div>
                <div class="modal-body">
                    <!-- renderUserOrdersModal() -->
                </div>
                <div class="modal-footer flex-column border-0"></div>
            </div>
        </div>
    </div>
    <!-- 廣告Modal -->
    <div class="modal fade" id="adModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content adBackground">
                <div class="modal-header border-0 pb-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-wrap border-0 pt-0">
                    <div
                        class="d-flex flex-column justify-content-center align-items-center align-items-lg-end col-12 col-lg-6 adsContent g-5 fw-bold fs-3"
                    >
                        <span class="">Catch Breakfast</span>
                        <span class="">快取早餐 歡慶上線</span>
                        <span>即日起至12/31</span>
                        <span>自備環保餐具</span>
                        <span>飲料無限暢飲</span>
                    </div>
                    <div class="col-12 col-lg-6 adsImg">
                        <img src="./Img/PC/image-9.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 導覽Modal -->
    <div class="modal fade" id="guideModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content" style="min-height: 360px">
                <div class="modal-header d-block pb-1 position-relative border-0">
                    <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal" aria-label="Close" style="right: 1.5rem"></button>
                    <h5 class="text-center fw-bold">功能介紹</h5>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs row-cols-3" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link w-100 active" data-bs-toggle="tab" data-bs-target="#guideOnline" type="button" role="tab">
                                線上點餐
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link w-100" data-bs-toggle="tab" data-bs-target="#guideTable" type="button" role="tab">桌邊點餐</button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link w-100" data-bs-toggle="tab" data-bs-target="#guideBack" type="button" role="tab">後台管理</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="guideOnline" role="tabpanel">
                            <div class="d-flex flex-column justify-content-center align-items-center pt-4">
                                <ul>
                                    <li>登入與註冊會員</li>
                                    <li>瀏覽精緻菜單</li>
                                    <li>提供點餐服務</li>
                                    <li>調整購物車內容</li>
                                    <li>查詢歷史訂單</li>
                                </ul>
                                <span
                                    >可使用demo帳號
                                    <span class="finger" onclick="goToLoginModalWithName('小明')"
                                        ><b><u>小明</u></b></span
                                    ></span
                                >
                                <span>進行操作體驗</span>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="guideTable" role="tabpanel">
                            <div class="d-flex flex-column justify-content-center align-items-center pt-4">
                                <div class="text-center">請掃描QR Code後進行點餐</div>
                                <div class="mt-3" id="qrCode"></div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="guideBack" role="tabpanel">
                            <div class="d-flex flex-column justify-content-center align-items-center pt-4">
                                <ul>
                                    <li>出餐管理(顯示即時訂單)</li>
                                    <li>菜單管理(新增、調整與停售)</li>
                                    <li>營業狀況之圖表分析</li>
                                </ul>
                                <span
                                    >可使用demo帳號
                                    <span class="finger" onclick="goToLoginModalWithName('阿姨')"
                                        ><b><u>阿姨</u></b></span
                                    ></span
                                >
                                <span>進行操作體驗</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer flex-column border-0"></div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/products.js' %}"></script>
<script>
    {% comment %} $(function () {
        $("#adModal").modal("show");
    }); {% endcomment %}
    // open productModal modal
</script>

{% endblock content %}
